<h1>Burgers</h1>
<img src = "/assets/img/burger.png" alt="Burger" class="center" id ="BURG">
<h2>Burgers that are not devoured</h2>

<ul id = "noDevoured">
    {{#each burger}}
    {{#unless devoured}}
    {{>burgers/burger-block devoured=false}}
    {{/unless}}
    {{/each}}
</ul>

<h2> Burgers that are Devoured</h2>


<ul id = "Devoured">
    {{#each burger}}
    {{#if devoured}}
    {{>burgers/burger-block devoured=true}}
    {{/if}}
    {{/each}}
</ul>

<h2>Add a burger</h2>

<form class="create-form">

    <div class="form-group">
        <label for="ba">Burger Name:</label>
        <input type="text" id="ba" name="name">
    </div>

    <button type="submit">Add Burger</button>
</form>