<h1>Eat Da Burger!</h1>
<br>
<div id ="image">
<img src = "/assets/img/burger.png" alt="Burger" class="center" id ="BURG">
</div>
<br><br>

<div></div>
<h3>Burgers that are not devoured</h3>
<br>
<ul id = "noDevoured">
    {{#each burger}}
    {{#unless devoured}}
    {{>burgers/burger-block devoured=false}}
    {{/unless}}
    {{/each}}
</ul>
</div>

<div>
<h3>Add a burger</h3>
<br><br>
<form class="create-form">

    <div class="form-group">
        <label for="ba">Burger Name:</label>
        <input type="text" id="ba" name="name">
        <p>Type a burger Name and click submit</p>
    </div>

    <button type="submit">Add Burger</button>
</form>
</div>

<div>
<h3> Burgers that are Devoured</h3>
<br><br>

<ul id = "Devoured">
    {{#each burger}}
    {{#if devoured}}
    {{>burgers/burger-block devoured=true}}
    {{/if}}
    {{/each}}
</ul>
</div>
