li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
    float : left
  }

 #notDevoured{
   float: left;
   padding: 20px;
 }
 #Devoured{
  float: left;
  padding: 20px;
}

.img{
margin: 20px;
width:400px;
height:400px;

}