body{
  background-color: bisque;
}
li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
    float : left
  }

 #notDevoured{
   float: left;
   padding: 20px;
 }
 #Devoured{
  float: left;
  padding: 20px;
}

#BURG{
margin: 20px;
width:300px;
height:300px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}