
body{
  background-color: bisque;
}
li {
    padding: 5px;
    margin: 5px;
    width:calc(100/3%);
    
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;

  }
  
  .form-group {
    width:calc(100/4%);
    float : left;
  }

 #noDevoured{
   float: left;
   padding: 20px;
 }
 #Devoured{
  float: left;
  padding: 20px;
}


#BURG {
  display: block;
  margin-left: 60px;
  width: 60%;
  padding:20px;
  width:250px;
  height:250px;
}
h1{
  background-color:goldenrod;
  color:white;
  font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
  text-align: center;
  border-width: 2px;
  width:100%;
  padding:5px;
  font-style:italic;
  float:left;
}

h3{
  background-color:goldenrod;
  color:white;
  font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
  text-align: center;
  border-width: 2px;
  width:calc(100/3%);
  padding:5px;
  font-style:italic;
  float:left;
}

p{
 
  font-size:12px;
  line-height:250%
}